/* Theme colors */
* {
  box-sizing: border-box;
  font-family: 'Open Sans', Arial;
  margin: 0;
  padding: 0;
}
body > main {
  width: 100%;
  max-width: 600px;
  margin: 5% auto;
  border: 1px solid;
  padding: 5%;
  position: relative;
}
[embellished-app-bar] {
  background-color: #6d00f0;
  color: #ffffff;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  padding: 16px;
  position: fixed;
  transition-duration: 150ms;
  transition-property: transform;
  transition-timing-function: ease-out;
  width: 100%;
  z-index: 90;
}
[embellished-app-bar] [embellished-icon] {
  flex-grow: 0;
  margin-right: 16px;
}
[embellished-app-bar] [embellished-icon]:hover {
  cursor: pointer;
}
[embellished-app-bar] [embellished-icon]:last-child {
  margin-right: 0;
}
[embellished-app-bar] [embellished-icon] ~ .title,
[embellished-app-bar] [embellished-icon] ~ h1,
[embellished-app-bar] [embellished-icon] ~ h2,
[embellished-app-bar] [embellished-icon] ~ h3,
[embellished-app-bar] [embellished-icon] ~ h4,
[embellished-app-bar] [embellished-icon] ~ h5,
[embellished-app-bar] [embellished-icon] ~ h6 {
  margin-left: 0;
}
[embellished-app-bar] .title,
[embellished-app-bar] h1,
[embellished-app-bar] h2,
[embellished-app-bar] h3,
[embellished-app-bar] h4,
[embellished-app-bar] h5,
[embellished-app-bar] h6 {
  font-size: 24px;
  font-weight: 100;
  line-height: 24px;
  margin-left: 40px;
  margin-right: auto;
}
[embellished-app-bar~="top"] {
  top: 0;
  left: 0;
}
[embellished-app-bar~="bottom"] {
  bottom: 0;
  left: 0;
}
[embellished-app-bar~="bottom"] [embellished-icon="menu"] {
  margin-right: auto;
}
[embellished] button,
button[embellished],
a[embellished-button] {
  background: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #6d00f0;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  overflow: hidden;
  padding: 0.5em;
  position: relative;
  text-transform: uppercase;
  transition: background 0.3s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
[embellished] button:hover,
button[embellished]:hover,
a[embellished-button]:hover {
  cursor: pointer;
}
[embellished] button:hover.filled,
button[embellished]:hover.filled,
a[embellished-button]:hover.filled,
[embellished] button:hover.floating,
button[embellished]:hover.floating,
a[embellished-button]:hover.floating {
  background-color: #7816f0;
}
[embellished] button:hover > label,
button[embellished]:hover > label,
a[embellished-button]:hover > label {
  cursor: pointer;
}
[embellished] button:focus:not(.filled):not(.floating),
button[embellished]:focus:not(.filled):not(.floating),
a[embellished-button]:focus:not(.filled):not(.floating) {
  background-color: #dad1e9;
}
[embellished] button:focus.filled,
button[embellished]:focus.filled,
a[embellished-button]:focus.filled,
[embellished] button:focus.floating,
button[embellished]:focus.floating,
a[embellished-button]:focus.floating {
  background-color: #9146f4;
}
[embellished] button.dense,
button[embellished].dense,
a[embellished-button].dense {
  padding-bottom: 4px;
  padding-top: 4px;
}
[embellished] button.floating,
button[embellished].floating,
a[embellished-button].floating {
  background-color: #6d00f0;
  border-radius: 50%;
  bottom: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #ffffff;
  font-size: 16px;
  padding: 16px;
  position: absolute;
  right: 16px;
  z-index: 80;
}
[embellished] button.floating.mini,
button[embellished].floating.mini,
a[embellished-button].floating.mini {
  padding: 8px;
}
[embellished] button.filled,
button[embellished].filled,
a[embellished-button].filled,
[embellished] button.outlined,
button[embellished].outlined,
a[embellished-button].outlined {
  padding-left: 16px;
  padding-right: 16px;
}
[embellished] button.filled,
button[embellished].filled,
a[embellished-button].filled {
  background-color: #6d00f0;
  border-color: #6d00f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  color: #ffffff;
}
[embellished] button.outlined,
button[embellished].outlined,
a[embellished-button].outlined {
  border-color: #bbbcbc;
}
[embellished-dialog-container] {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition-duration: 100ms;
  transition-property: opacity;
  transition-timing-function: linear;
  z-index: 100;
}
[embellished-dialog-container][embellished-fade-in] dialog,
[embellished-dialog-container][embellished-fade-in] [embellished-dialog] {
  display: block;
}
[embellished-dialog-container] dialog,
[embellished-dialog-container] [embellished-dialog] {
  display: none;
}
[embellished-dialog],
[embellished] dialog,
dialog[embellished] {
  border: 0;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 0 auto;
  max-width: 560px;
  min-width: 280px;
  overflow-x: hidden;
  overflow-y: hidden;
}
[embellished-dialog] header,
[embellished] dialog header,
dialog[embellished] header {
  border-bottom: 1px solid transparent;
  font-size: 20px;
  padding: 20px 24px;
}
[embellished-dialog] header h1,
[embellished] dialog header h1,
dialog[embellished] header h1,
[embellished-dialog] header h2,
[embellished] dialog header h2,
dialog[embellished] header h2,
[embellished-dialog] header h3,
[embellished] dialog header h3,
dialog[embellished] header h3,
[embellished-dialog] header h4,
[embellished] dialog header h4,
dialog[embellished] header h4,
[embellished-dialog] header h5,
[embellished] dialog header h5,
dialog[embellished] header h5,
[embellished-dialog] header h6,
[embellished] dialog header h6,
dialog[embellished] header h6 {
  font-size: 20px;
  font-weight: normal;
}
[embellished-dialog] header ~ main,
[embellished] dialog header ~ main,
dialog[embellished] header ~ main {
  padding-top: 0;
}
[embellished-dialog] main,
[embellished] dialog main,
dialog[embellished] main {
  color: #aaaaaa;
  max-height: 30vh;
  padding: 24px 24px 0 24px;
}
[embellished-dialog] main p,
[embellished] dialog main p,
dialog[embellished] main p {
  padding-bottom: 12px;
}
[embellished-dialog] main li,
[embellished] dialog main li,
dialog[embellished] main li {
  line-height: 48px;
}
[embellished-dialog] footer,
[embellished] dialog footer,
dialog[embellished] footer {
  border-top: 1px solid transparent;
  padding: 8px;
  text-align: right;
}
[embellished-dialog] footer[long-actions] button,
[embellished] dialog footer[long-actions] button,
dialog[embellished] footer[long-actions] button {
  display: block;
  text-align: right;
  width: 100%;
}
[embellished-dialog][embellished-dialog-scrollable="true"] header,
[embellished] dialog[embellished-dialog-scrollable="true"] header,
dialog[embellished][embellished-dialog-scrollable="true"] header {
  border-bottom-color: #eeeeee;
}
[embellished-dialog][embellished-dialog-scrollable="true"] main,
[embellished] dialog[embellished-dialog-scrollable="true"] main,
dialog[embellished][embellished-dialog-scrollable="true"] main {
  overflow-x: hidden;
  overflow-y: auto;
}
[embellished-dialog][embellished-dialog-scrollable="true"] footer,
[embellished] dialog[embellished-dialog-scrollable="true"] footer,
dialog[embellished][embellished-dialog-scrollable="true"] footer {
  border-top-color: #eeeeee;
}
[embellished] form,
form[embellished] {
  margin: 0;
  padding: 0;
}
[embellished] form fieldset,
form[embellished] fieldset {
  border: none;
  display: block;
  margin: 16px 0 0 0;
  padding: 0;
  position: relative;
}
[embellished] form input,
form[embellished] input {
  border: 0 solid #494c50;
  border-bottom-width: 1px;
  box-shadow: none;
  display: block;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 23px 0 8px 0;
  width: 100%;
  transition: box-shadow 0.3s, border-color 0.3s;
}
[embellished] form input ~ label[embellished-label],
form[embellished] input ~ label[embellished-label] {
  color: #777777;
  display: block;
  font-size: 1em;
  left: 1px;
  line-height: initial;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  text-align: left;
  top: 18px;
  transition-property: top, font-size, background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
}
[embellished] form input:focus ~ label[embellished-label],
form[embellished] input:focus ~ label[embellished-label],
[embellished] form input.emb-has-value ~ label[embellished-label],
form[embellished] input.emb-has-value ~ label[embellished-label],
[embellished] form input.emb-has-error ~ label[embellished-label],
form[embellished] input.emb-has-error ~ label[embellished-label] {
  font-size: 0.75em;
  top: 4px;
  visibility: visible;
}
[embellished] form input:focus,
form[embellished] input:focus {
  border-color: #6d00f0;
  box-shadow: inset 0 -1px 0 0 #6d00f0;
}
[embellished] form input:focus ~ label[embellished-label],
form[embellished] input:focus ~ label[embellished-label] {
  color: #6d00f0;
}
[embellished] form input.filled,
form[embellished] input.filled,
[embellished] form input.outlined,
form[embellished] input.outlined {
  padding-left: 12px;
  padding-right: 12px;
}
[embellished] form input.filled ~ label,
form[embellished] input.filled ~ label,
[embellished] form input.outlined ~ label,
form[embellished] input.outlined ~ label {
  margin: 0 0 0 8px;
  padding: 0 4px;
}
[embellished] form input.filled,
form[embellished] input.filled {
  background-color: #e4e3e4;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
[embellished] form input.outlined,
form[embellished] input.outlined {
  border-radius: 4px;
  border-width: 1px;
  padding-top: 15px;
  padding-bottom: 15px;
}
[embellished] form input.outlined:focus ~ label[embellished-label],
form[embellished] input.outlined:focus ~ label[embellished-label],
[embellished] form input.outlined.emb-has-value ~ label[embellished-label],
form[embellished] input.outlined.emb-has-value ~ label[embellished-label],
[embellished] form input.outlined.emb-has-error ~ label[embellished-label],
form[embellished] input.outlined.emb-has-error ~ label[embellished-label] {
  background: #ffffff;
  top: -6px;
}
[embellished] form input.outlined:focus,
form[embellished] input.outlined:focus {
  box-shadow: inset 0 0 0 1px #6d00f0;
}
[embellished] form input.emb-has-error,
form[embellished] input.emb-has-error {
  border-color: #b90224;
}
[embellished] form input.emb-has-error:not(.outlined),
form[embellished] input.emb-has-error:not(.outlined) {
  box-shadow: inset 0 -1px 0 0 #b90224;
}
[embellished] form input.emb-has-error.outlined,
form[embellished] input.emb-has-error.outlined {
  box-shadow: inset 0 0 0 1px #b90224;
}
[embellished] form input.emb-has-error ~ label[embellished-label],
form[embellished] input.emb-has-error ~ label[embellished-label],
[embellished] form input.emb-has-error ~ label[embellished-error-text],
form[embellished] input.emb-has-error ~ label[embellished-error-text] {
  color: #b90224 !important;
}
[embellished] form input.emb-has-error ~ label[embellished-error-text],
form[embellished] input.emb-has-error ~ label[embellished-error-text] {
  display: inline-block;
}
[embellished] form input.emb-has-error ~ label[embellished-helper-text],
form[embellished] input.emb-has-error ~ label[embellished-helper-text] {
  display: none;
}
[embellished] form label,
form[embellished] label {
  display: block;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #777777;
}
[embellished] form label ::first-letter,
form[embellished] label ::first-letter {
  text-transform: uppercase;
}
[embellished] form label[embellished-error-text],
form[embellished] label[embellished-error-text] {
  color: #b90224;
  display: none;
}
[embellished] form label[embellished-helper-text],
form[embellished] label[embellished-helper-text] {
  color: #aaaaaa;
}
[embellished-icon] {
  color: #ffffff;
  display: block;
  fill: #ffffff;
  height: 24px;
  width: 24px;
}
[embellished-icon="settings"] svg use {
  transform: scale(1.2);
}
